{% extends 'base.html.twig' %}

{% block title %}{% trans %}label.pokemon{% endtrans %}{% endblock %}

{% block body %}
    {% include 'navigation/main-menu.html.twig' with {'active_route': 'pokemon'} %}

    <h1>{% trans %}label.pokemon{% endtrans %}</h1>

    {% if pokemons is not empty %}
    <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4">
        {% for pokemon in pokemons %}
        <div class="col mb-4">
            <div class="card">
                <a href="{{ path('pokemon_show_by_slug', {slug: pokemon.slug}) }}">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{ pokemon.getFormattedNumber }}.png" class="card-img-top" style="background-color: #f2f2f2" alt="{{ pokemon.name }}">
                </a>
                <div class="card-body">
                    <p class="card-title"><a href="{{ path('pokemon_show_by_slug', {slug: pokemon.slug}) }}">
                        {{ pokemon.name }} <strong class="text-secondary">#{{ "%03d"|format(pokemon.number) }}</strong></a></p>
                    <p class="card-text">{% for type in pokemon.type %}
                        <a class="badge {% if type.bootstrapColor is not empty %}badge-{{ type.bootstrapColor }}{% endif %}" style="{{ type.getBackgroundProperty }}" href="{{ path('type_show', {id: type.id}) }}">{{ type.name }}</a>
                    {% endfor %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
